<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="${book.bookTitle}"></title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


</head>
<body>
<div th:insert="header :: header"></div>

<br>
<br>

<section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img">
                            <div class="text-center">
                                <img th:src="${book.imageUrl}" width="400px" height="540px"
                                     class="img-fluid z-depth-1">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h5 th:text="${book.bookTitle}"></h5>
            <span class="small text-muted text-uppercase mb-2" th:each="a, iterStat : ${book.authorInBooks}"
                  th:text="!${iterStat.last} ? ${a} + ', ': ${a}"></span>

            <p class="pt-1" th:text="${book.description}"></p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Genres</strong></th>
                        <td><span th:each="a, iterStat : ${genres}" th:text="!${iterStat.last} ? ${a} + ', ': ${a}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Pages</strong></th>
                        <td th:text="${book.pages}"/>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Average rating</strong></th>
                        <td th:text="@{${averageRating} + ' / 5'}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Year</strong></th>
                        <td th:text="${book.year}"/>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Language</strong></th>
                        <td th:text="${book.language}"/>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br>

            <div class="dropdown-btn">
                <button class="btn btn-outline-dark dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" th:text="${progress}">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                    <form th:action="@{/book-progress/add-to-read}" th:object="${book}"
                          method="POST">
                        <input type="hidden" th:value="${book.id}" name="id"/>
                        <button type="submit" class="dropdown-item">Read</button>
                    </form>

                    <form th:action="@{/book-progress/add-to-currently-reading}" th:object="${book}"
                          method="POST">
                        <input type="hidden" th:value="${book.id}" name="id"/>
                        <button type="submit" class="dropdown-item">Currently reading</button>
                    </form>

                    <form th:action="@{/book-progress/add-to-wishlist}" th:object="${book}"
                          method="POST">
                        <input type="hidden" th:value="${book.id}" name="id"/>
                        <button type="submit" class="dropdown-item">Add to wishlist</button>
                    </form>

                </div>
            </div>


            <div  class="dropdown-btn">
                <button class="btn btn-outline-dark dropdown-toggle" type="button"
                        id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update progress</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">

                    <form class="mx-4">

                        <!--  input -->
                        <div class="form-inline mb-1">
                            <label class="form-label mr-1" for="form1Example1">On page</label>
                            <input id="form1Example1" class="form-control-sm w-25" maxlength="4" type="number" />
                            <label class="form-label ml-1" for="form1Example1" th:text="@{' out of ' + ${book.pages}}"></label>
                        </div>
                    </form>

                    <div class="dropdown-divider"></div>
                    <form th:action="@{/book-progress/add-to-read}" th:object="${book}"
                          method="POST">
                        <input type="hidden" th:value="${book.id}" name="id"/>
                        <button type="submit" class="dropdown-item">Finished book?</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="table-responsive mb-2">
            </div>
        </div>
    </div>
</section>


<div class="classic-tabs border rounded px-4 pt-1">

    <ul class="nav nav-theme tabs-primary nav-justified" id="advancedTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="description-tab" data-toggle="tab" href="#description" role="tab"
               aria-controls="description" aria-selected="true">Author's bio</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
               aria-selected="false" th:text="@{'Reviews (' + ${numberOfRatings} + ')'}"></a>
        </li>
    </ul>
    <div class="tab-content" id="advancedTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div th:each="author : ${book.authorInBooks}">
                <p th:text="${author.name}" class="small text-muted text-uppercase mb-2"></p>
                <p th:text="${author.description}" class="pt-1"></p>
            </div>
        </div>

        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <h5><span>Reviews for <span th:text="${book.bookTitle}"/></span></h5>
            <div class="media mt-3 mb-4" th:each="feedback:${feedbacks}">
                <img class="d-flex mr-3 z-depth-1"
                     src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fhamzasaleem%2Fstock-style-3%2F512%2FiBooks-S3-icon.png&f=1&nofb=1"
                     width="62" alt="Generic placeholder image">
                <div class="media-body">
                    <div class="d-sm-flex justify-content-between">
                        <p class="mt-1 mb-2">
                            <strong th:text="@{${feedback.user.name} + ' ' + ${feedback.user.lastName}}"></strong>
                            <span> wrote on </span><span th:text="${feedback.date}"></span>
                            <span> rated: </span><span th:text="@{${feedback.rating} + ' / 5'}"></span>
                        </p>
                    </div>
                    <p class="mb-0" th:text="${feedback.comment}"></p>
                </div>
            </div>
            <hr>
            <h5 class="mt-4">Add a review and rating</h5>
            <div>
                <!-- Your review -->

                <form th:action="@{/bookdetails}" th:object="${newrating}" method="POST">
                    <div class="form-group">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5.0" th:field="*{rating}"/>
                            <label for="star5">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4.0" th:field="*{rating}"/>
                            <label for="star4">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3.0" th:field="*{rating}"/>
                            <label for="star3">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2.0" th:field="*{rating}"/>
                            <label for="star2">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1.0" th:field="*{rating}"/>
                            <label for="star1">1 star</label>
                        </fieldset>
                        <br><br>

                        <label class="control-label" for="comment"> What are your thoughts on this book? </label>
                        <input id="comment" class="form-control"
                               th:placeholder="${existingComment} ?:''"
                               th:field="*{comment}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group" th:if="${commentExists}">
                        <button type="submit" class="btn btn-primary">Update review</button>
                    </div>
                    <div class="form-group" th:unless="${commentExists}">
                        <button type="submit" class="btn btn-primary">Add a review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<h5>Related books</h5>
<br>
<section class="text-center">
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-5" th:each="related:${relatedBooks}">
            <div class="">
                <div class="mask">
                    <a th:href="@{'/bookdetails/' + ${related.id}}">
                        <img th:src="${related.imageUrl}" width="200px" height="280px">
                    </a>
                </div>
                <div class="pt-4">
                    <p th:text="${related.bookTitle}" class="pt-1"></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
