<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


</head>
<body>
<div th:insert="header :: header"></div>
<br>
<br>

<h1>My bookshelf</h1>

<div class ="frame">
    <button class="custom-btn btn-1" >All books</button>
    <button class="custom-btn btn-1"><span>Read</span></button>
    <button class="custom-btn btn-1">Reading</button>
    <button class="custom-btn btn-1">Wishlist</button>
</div>
<hr>


<div class="container">
    <div class="row-books" th:each="book: ${books}">
        <a th:href="@{'/bookdetails/' + ${book.id}}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img th:src="${book.imageUrl}" height="200px" width="130px" class="img-fluid rounded">
        </a>
    </div>
</div>



<br><br>


</body>
</html>