<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>

    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <style>
        body {
                min-height: 100vh;
                overflow-x: hidden
            }

    </style>

</head>
<body>
<div th:insert="/fragments/header.html :: header"></div>
<br>
<br>

<div class="row px-4">
    <div class="col-md-7 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img
                            alt="..."
                            class="rounded mb-2 img-thumbnail"
                            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fhamzasaleem%2Fstock-style-3%2F512%2FiBooks-S3-icon.png&f=1&nofb=1"
                            width="130">
                    </div>

                    <div class="media-body mb-5">
                        <h5 class="font-weight-bold" th:text="@{${user.name} + ' ' + ${user.lastName}}"></h5>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" th:text="${numberOfRead}"></h5><span
                            class="text-muted"> Read</span>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" th:text="${numberOfCurrentlyReading}"></h5><span
                            class="text-muted">Currently Reading</span>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" th:text="${numberOfWishlist}"></h5><span
                            class="text-muted">Wishlist</span>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3" th:unless="${mostReadGenres.empty}">
                <p class="mb-0" th:text="${user.name} + ' has read most in:'"></p>
                <br>
                <div class="bg-light p-4 d-flex justify-content-start text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item" th:each="genre: ${mostReadGenres}">
                            <h5 class="font-weight-bold mb-0 d-block" th:text="${genre.value}"></h5><span
                                class="text-muted" th:text="${genre.key}"></span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="py-4 px-4" th:unless="${readBooks.empty}">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <p class="mb-0">Recently read </p>
                </div>
                <div class="row-books" th:each="book: ${readBooks}">
                    <a class="col-md-4" data-gallery="gallery" data-toggle="lightbox"
                       th:href="@{'/bookdetails/' + ${book.id}}">
                        <img class="img-fluid rounded" height="200px" th:src="${book.imageUrl}" width="130px">
                    </a>
                </div>
            </div>


            <div class="py-4 px-4" th:unless="${currentlyReadingBooks.empty}">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <p class="mb-0">Currently reading: </p>
                </div>
                <div class="row-books" th:each="book: ${currentlyReadingBooks}">
                    <a class="col-md-4" data-gallery="gallery" data-toggle="lightbox"
                       th:href="@{'/bookdetails/' + ${book.id}}">
                        <img class="img-fluid rounded" height="200px" th:src="${book.imageUrl}" width="130px">
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>
