<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="header :: header"></div>
<br>
<br>

<h1>My wishlist</h1>

<hr>


<div class="container-wishlist" th:unless="${books.empty}">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th scope="col">Book</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>
                    <th scope="col">Pages</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="book: ${books}">
                    <td class="w-15">
                        <a th:href="@{'/bookdetails/' + ${book.id}}"> <img th:src="${book.imageUrl}" height="250px" width="180px"/> </a>

                    </td>
                    <td th:text="${book.bookTitle}"/>
                    <td><span class="small text-muted text-uppercase mb-2" th:each="a, iterStat : ${book.authorInBooks}" th:text="!${iterStat.last} ? ${a} + ', ': ${a}"></span></td>
                    <td th:text="${book.description}"/>
                    <td th:text="${book.pages}"/>
                    <td>
                        <form th:action="@{/wishlist/delete}" th:object="${book}" method="POST">
                            <input type="hidden" th:value="${book.id}" name="id"/>
                            <button type="submit" class="btn btn-outline-dark">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:if="${books.empty}">
    <h5>No wishlist books added.</h5>
    <hr>
    <h5> Looking for a book?</h5>
    <ul class ="nav" id="loadBooks "type="circle">
        <li><a th:href="@{/}"> Explore</a> and add a book to wishlist.</li>
    </ul>
</div>
</body>
</html>
