<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="header :: header"></div>
<br>
<br>

<div class="container">

</div>
<br>
<table border="1">
    <thead>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Description</th>
        <th>Pages</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="book: ${books}">
        <td>
            <a th:href="@{'/bookdetails/' + ${book.id}}"> <img th:src="${book.imageUrl}" height="300px" width="230px"/> </a>
        </td>
        <td th:text="${book.bookTitle}"/>
        <td> <span class="small text-muted text-uppercase mb-2" th:each="a, iterStat : ${book.authorInBooks}" th:text="!${iterStat.last} ? ${a} + ', ': ${a}"></span></td>
        <td th:text="${book.description}"/>
        <td th:text="${book.pages}"/>
        <td>
            <form th:action="@{/wishlist/delete}" th:object="${book}" method="POST">
                <input type="hidden" th:value="${book.id}" name="id"/>
                <button type="submit" class="btn btn-info col-2">Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>
